<div class='thumbnail'>
	<img src='http://placehold.it/320x150' alt=''>
	<div class='caption'>
		<h4 class='pull-right'>{price}</h4>
		<h4><a href='inc/productimages.php'>{name}</a>
		</h4>
		<p>{description}</p>
	</div>
	<div class='ratings'>
		<p class='pull-right'>15 reviews</p>
		<p>
			<span class='glyphicon glyphicon-star'></span>
			<span class='glyphicon glyphicon-star'></span>
			<span class='glyphicon glyphicon-star'></span>
			<span class='glyphicon glyphicon-star'></span>
			<span class='glyphicon glyphicon-star'></span>
		</p>
	</div>
</div>